{include file="header" /}
</head>
<body ng-app="myapp">
<div class="wrap js-check-wrap" ng-controller="newctrl">
    <ul class="nav nav-tabs">
        <li><a href="{:U('coupon/coupongoods',['id'=>$coupon_id])}">红包商品列表</a></li>
        <li class="active"><a href="{:U('coupon/coupongoodsadd',['id'=>$coupon_id])}">添加红包商品</a></li>
    </ul>
    <form class="form-horizontal js-ajax-form" action="{:U('coupon/coupongoodsadd')}" method="post">
        <div class="control-group">
            <label class="control-label">商品ID:</label>
            <div class="controls">
                <input yzl-autocomplete label-key="goods_id" value="{$goods.goods_id}" url="/admin/goods/searchGoodsById" value-key="goods_id" callback="goods_callback">
                <input type="hidden" name="goods_id" value="{{goods_id}}"/>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">商品:</label>
            <div class="controls">
                <input type="text" name="name" value="{$goods.name}" readonly="true" />
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">关联店铺:</label>
            <div class="controls">
                <input type="text" name="shop" value="{$goods.shop_name}" readonly="true" />
            </div>
        </div>

        <input type="hidden" name="id" value="{$coupon_id}"/>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('COMMIT')}</button>
            <a class="btn" href="{:U('coupon/coupongoodsadd',['id' => $coupon_id])}">{:L('BACK')}</a>
        </div>
    </form>
</div>
<script>
    var app = angular.module('myapp', ['uploadimg', "autocomplete"]);
    app.controller("newctrl",function($scope,$http){
        $scope.goods = {$goods | json_encode};
        $scope.goods_id = $scope.goods.goods_id;
        $scope.goods_callback = function(item){
            $scope.goods_id = item.id;
            $.ajax({
                url:"{:U('homeaction/getshopname')}"+"?goods_id="+$scope.goods_id,
                type:"GET",
                datatype:"json",
                success:function(data){
                    var res = JSON.parse(data);
                    $("input[name='shop']")[0].value = res.shop_name;
                }
            });
            $.ajax({
                url:"{:U('homeaction/getgoodsname')}"+"?goods_id="+$scope.goods_id,
                type:"GET",
                datatype:"json",
                success:function(data){
                    var res = JSON.parse(data);
                    $("input[name='name']")[0].value = res.name;
                }
            });
            $scope.$apply();
        }
    });

    $(function() {
        $( "#date_start" ).datetimepicker();
        $( "#date_end").datetimepicker();
    });
</script>
</body>
</html>