{include file="header" /} 
<style>
.control-group{
float:left;
}
a{
	cursor:pointer;
}
</style>
</head>

<body ng-app="myapp">
	<div class="wrap" ng-controller="myctrl">
		<form name="form" method="get" class="form-horizontal">
				<div class="control-group">
					<label class="control-label">店铺名:</label>
						<div class="controls">
							<input yzl-autocomplete label-key="shop_name" url="/admin/seller/searchShop" value-key="seller_id" callback="shop_callback" />
							<input type="hidden" name="seller_id" value="{{seller_id}}"/>
						</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">是否逾期</label>
					<div class="controls">
						<select name="is_overtime">
							<option value="-1" {if condition="I('is_overtime') eq -1"}selected{/if}>全部</option>
							<option value="1" {if condition="I('is_overtime') eq 1"}selected{/if}>是</option>
							<option value="2" {if condition="I('is_overtime') eq 2"}selected{/if}>否</option>
						</select>
					</div>	
				</div>
				
				<div class="control-group">
					<label class="control-label">是否启用</label>
					<div class="controls">
						<select name="status">
							<option value="-1" {if condition="I('status') eq -1"}selected{/if}>全部</option>
							<option value="1" {if condition="I('status') eq 1"}selected{/if}>是</option>
							<option value="2" {if condition="I('status') eq 2"}selected{/if}>否</option>
						</select>
					</div>	
				</div>
				
				<div class="control-group">
					<label class="control-label">是否设置类型</label>
					<div class="controls">
						<select name="is_type">
							<option value="-1" {if condition="I('is_type') eq -1"}selected{/if}>全部</option>
							<option value="1" {if condition="I('is_type') eq 1"}selected{/if}>是</option>
							<option value="2" {if condition="I('is_type') eq 2"}selected{/if}>否</option>
						</select>
					</div>	
				</div>
				
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary"  onClick="click_first()" style="width:100px;height:30px;float:left;text-align:center;"/>
						<input type="submit" class="btn btn-primary"  onClick="click_second()" style="margin-left:30px;width:100px;height:30px;float:left;text-align:center;" value="导出excel"/>
					</div>
				</div>
		</form>
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>店铺id</th>
						<th width="300">店铺名称</th>
						<th>用户名</th>
						<th>店铺logo</th>
						<th>店铺类型</th>
						<th>到期时间</th>
						<th>是否百城店铺</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{if condition="count($seller) gt 0"}
					{volist name="seller" id="vo"}
					<tr>
						<td>{$vo.seller_id}</td>
						<td>{$vo.shop_name}</td>
						<td>{$vo.username}</td>
						<td><img style="width:40px;height:40px;" src="{:C('img_url')}{$vo.shop_logo}"/></td>
						<td>
						{$vo.type}
						<div class="dropdown">
							<button class="btn btn-success dropdown-toggle wst-btn-dropdown"  type="button" data-toggle="dropdown">
							     设置
							<span class="caret"></span>
						   </button>
		                   <ul class="dropdown-menu" role="menu">
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo['seller_id']})">普通店铺</a></li>
							  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(2,{$vo['seller_id']})">旗舰店</a></li>
						   	  <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(3,{$vo['seller_id']})">自营</a></li
						   </ul>
		               </div>
						</td>
						<td>{:get_color_date($vo.over_time)}</td>
						<td>{if condition="$vo.is_baicheng eq 1"}是{elseif condition="$vo.is_baicheng eq 0"}否{/if}</td>
						<td>
							{if condition="$vo.status eq 1"}
							<a class="js-ajax-dialog-btn" href="{:U('Seller/off',['seller_id' => $vo.seller_id])}">禁用</a>
							{elseif condition="$vo.status eq 0"}
							<a class="js-ajax-dialog-btn" href="{:U('Seller/on',['seller_id' => $vo.seller_id])}">启用</a>
							{/if}
							| <a href="{:U('seller/reset_passwd',array('seller_id'=>$vo['seller_id']))}" class="js-ajax-dialog-btn">重置密码</a>
							| <a href="{:U('seller/delete', ['seller_id' => $vo.seller_id])}"class="js-ajax-dialog-btn">删除</a>
						</td>
					</tr>
					{/volist}
					{/if}
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script>
        function click_first(){
            document.form.action="{:U('seller/index')}";
            document.form.submit();
        }
        function click_second(){
            document.form.action="{:U('seller/index_excel')}";
            document.form.submit();
        }

		var app = angular.module("myapp",["autocomplete"]);
		app.controller("myctrl",function($scope){
			$scope.shop_callback = function(item){
				$scope.seller_id = item.id;
				$scope.$apply();
			}
		});
		
		function toggleIsShow(t,v){
			$.ajax({
				url: "{:U('seller/setType')}",
				type: "POST",   //请求方式
				dataType: 'json',
				data: {id:v,type:t},
				success: function(json)
				{
					if(json.status==1){
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作成功',
							ok: function () {
								location.reload();
							}
						});
					}else{
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作失败',
							ok: function () {
							}
						});
					}
				}
			})

   		}
	</script>
</body>
</html>