{include file="header" /} 
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('setting/jpush_setting')}">极光推送设置</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form">
			<fieldset>
				<div class="control-group">
					<label class="control-label">推送开启</label>
					<div class="controls">
						<input type="radio" {if condition="$jpush.is_open eq 0"}checked{/if} name="is_open" value="0" >关闭
						<input type="radio" {if condition="$jpush.is_open eq 1"}checked{/if} name="is_open" value="1">开启
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">app_key</label>
					<div class="controls">
						<input  name="app_key" value="{$jpush.app_key}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">app_secret</label>
					<div class="controls">
						<input name="app_secret" value="{$jpush.app_secret}" />
					</div>
				</div>
				
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('user/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>

</body>
</html>