{include file="header" /} 
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('setting/site_config')}">站点管理</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form">
			<fieldset>
				<div class="control-group">
					<label class="control-label">站点状态</label>
					<div class="controls">
						<input type="radio" {if condition="$settings.is_open eq 0"}checked{/if} name="is_open" value="0" >关闭
						<input type="radio" {if condition="$settings.is_open eq 1"}checked{/if} name="is_open" value="1">开启
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">关闭原因</label>
					<div class="controls">
						<textarea style="width:600px;height:200px;" name="reason">{$settings.reason}</textarea>
					</div>
				</div>
				
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('user/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>

</body>
</html>