{include file="header" /} 
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('weixinset/settings')}">微信参数</a></li>
			<!-- <li ><a href="{:U('weixinset/web_settings')}">网页版微信参数</a></li> -->
			<li ><a href="{:U('weixinset/menu')}">微信菜单</a></li>
		</ul>
		<p style="line-height:30px;background-color:#f8f0c8; text-align:center;">微信回调地址为：{$url}</p>
		<form method="post" class="form-horizontal js-ajax-form" >
			<fieldset>
				<div class="control-group">
					<label class="control-label">appid</label>
					<div class="controls">
						<input type="text" name="appid" value="{$config.appid}">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">app_secret</label>
					<div class="controls">
						<input type="text" name="app_secret" value="{$config.app_secret}">
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">token</label>
					<div class="controls">
						<input type="text" id="token" name="token" readonly="readonly" value="{$config.token}">
						<a onclick="tokenGen('token')" class="btn btn-default" >生成新的</a>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
			</div>
		</form>
	</div>
</body>
</html>