.cha-password-right {
  float: right;
  margin-right: 0;
}
.cha-password-topsmall {
  font-size: 14px;
  line-height: 22px;
}
.cha-password-form div {
  padding: 5px 0;
  background: #ffffff;
}
.cha-password-form div img {
  margin-left: 10px;
  margin-top: 6px;
  width: 18px;
  vertical-align: middle;
}
.cha-password-form input {
  border: none;
  outline: none;
  display: inline-block;
  padding: 5px 0;
  font-size: 14px;
  vertical-align: top;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
  background: #ffffff;
}
input[type="number"] {
  -moz-appearance: textfield;
  background: #ffffff;
}
