.login-pdenter-phone-container {
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  background: #ffffff;
  border-bottom: 1px solid #dcdcdc;
}
.login-pdenter-phone-container img {
  width: 16px;
  height: 14px;
  vertical-align: middle;
}
.login-pdenter-phone-container input {
  font-size: 14px;
  display: inline-block;
  border: none;
  outline: none;
  background: #ffffff;
  vertical-align: middle;
}
.login-pdenter-get {
  float: right;
  font-size: 14px;
  display: inline-block;
  padding: 5px 10px;
  color: #d93a56;
  border: 1px solid #d93a56;
  border-radius: 5px;
}
.login-pdenter-enter {
  margin: 0 15px;
  margin-top: 15px;
  padding: 10px 0;
  background: #d93a56;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;
}
.login-pdenter-reg {
  display: block;
  margin: 0 15px;
  margin-top: 15px;
  padding: 10px 0;
  background: #ffffff;
  color: #d93a56;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #d93a56;
}
.login-pdenter-point p {
  padding: 10px 15px;
  font-size: 12px;
  line-height: 16px;
  color: #808080;
}
.login-pdenter-point p span {
  color: #d93a56;
}
.login-pdenter-line {
  margin-top: 100px;
  text-align: center;
}
.login-pdenter-line span {
  color: #dcdcdc;
  font-size: 12px;
}
.login-pdenter-line p {
  width: 20%;
  border: 1px solid #dcdcdc;
  display: inline-block;
  vertical-align: middle;
}
.login-pdenter-enter-style {
  padding: 15px;
  text-align: center;
}
.login-pdenter-enter-style a {
  display: inline-block;
}
.login-pdenter-enter-style img {
  width: 40px;
  margin: 0 10px;
}
.login-pdenter-forget {
  font-size: 14px;
  color: #dcdcdc;
  text-decoration: underline;
  float: right;
  margin: 10px 15px 0 0;
}
.login-pdenter-enter-style p {
  font-size: 12px;
  color: grey;
  margin-top: 8px;
}
