{include file="header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('essay/category')}">分类列表</a></li>
			<li ><a href="{:U('essay/toAddCategory')}">添加分类</a></li>	
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('essay/addCategory')}">
			<fieldset>
				<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="50">排序</th>
						<th width="50">ID</th>
						<th>分类名称</th>
						<th>文章数量</th>
						<th width='80'>是否显示</th>
						<th>创建日期</th>
						<th>操作管理</th>
					</tr>
				</thead>
				<tbody>
		        {volist name="categorys" id="vo" key='i'}
		            <tr id='tr_0_{$i}' class="tr_0" isLoad='1'>
						<td><input name='' class="input input-order mr5" type='text' size='3' value='{$vo['sort']}'></td>
						<td>{$vo.id}</td>		             
		            	<td>
		                	<span class='glyphicon glyphicon-minus' onclick='javascript:loadChildTree(this,{$vo.id},"tr_0_{$i}")' style='margin-right:3px;cursor:pointer'></span>
		                	<input type='text' value='{$vo['name']}' onchange='javascript:editName(this)' dataId="{$vo.id}" class='form-control wst-ipt'/>
		            	</td>
		                <td>{$vo['article_number']}</td>
		               <td>
		               		<div class="dropdown">
		               			{if condition="$vo['active']==0 "}
		                   			<button class="btn btn-danger dropdown-toggle wst-btn-dropdown"  type="button" data-toggle="dropdown">
							     		隐藏
							  			<span class="caret"></span>
						   			</button>
		              			 {else /}
		                   			<button class="btn btn-success dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown">
							     		显示
							  			<span class="caret"></span>
						   			</button>
		               			{/if}
		                   		<ul class="dropdown-menu" role="menu">
							  		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo['id']})">显示</a></li>
							 		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(0,{$vo['id']})">隐藏</a></li>
						   		</ul>
		               		</div>
		               	</td>
		               	<td>{$vo['create_time'] | date="Y-m-d H:i:s",###}</td>
		               	<td>
							<a class="btn btn-default glyphicon glyphicon-plus" href="{:U('essay/toAddCategory',array('parentid'=>$vo['id'],'level'=>1))}">新增子分类</a>&nbsp;
							<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('essay/toAddCategory',array('id'=>$vo['id']))}">修改</a>&nbsp;
							<a class="js-ajax-delete btn btn-default glyphicon glyphicon-trash" onclick="javascript:edel({$vo['id']},0)">刪除</a>
						</td>
		            </tr>
		            {if condition="$vo['two']"}
		                {volist name="vo['two']" id="vo2" key='i2'}
			            <tr id='tr_0_{$i}_{$i2}' class="tr_0_{$i}" isLoad='1'>
			            	<td><input name='' class="input input-order mr5" type='text' size='3' value='{$vo2['sort']}'></td>
			            	<td>{$vo2['id']}</td>
			               	<td>
			               		<span class='glyphicon glyphicon-minus' onclick='javascript:loadChildTree(this,{$vo2.id},"tr_0_{$i}_{$i2}")' style='margin-right:3px;margin-left:20px;cursor:pointer'></span>
			               		<input type='text' value='{$vo2['name']}' onchange='javascript:editName(this)' dataId="{$vo2.id}" class='form-control wst-ipt'/>
			               	</td>
			               	<td>{$vo2['article_number']}</td>
			               	<td>
			               		<div class="dropdown">
			               			{if condition="$vo2['active']==0 "}
			                   			<button class="btn btn-danger dropdown-toggle wst-btn-dropdown"  type="button" data-toggle="dropdown">
								     		隐藏
								  			<span class="caret"></span>
							   			</button>
			               			{else /}
			                   			<button class="btn btn-success dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown">
								     		显示
								  			<span class="caret"></span>
							   			</button>
			               			{/if}
			                   		<ul class="dropdown-menu" role="menu">
								  		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo2['id']})">显示</a></li>
								  		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(0,{$vo2['id']})">隐藏</a></li>
							   		</ul>
			               		</div>
			               	</td>
			               	<td>{$vo2['create_time'] | date="Y-m-d H:i:s",###}
			               	<td>
			  					<a class="btn btn-default glyphicon glyphicon-plus" href="{:U('essay/toAddCategory',array('parentid'=>$vo2['id'],'level'=>1))}">新增子分类</a>&nbsp;
								<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('essay/toAddCategory',array('id'=>$vo2['id']))}">修改</a>&nbsp;
								<a class="js-ajax-delete btn btn-default glyphicon glyphicon-trash" onclick="javascript:edel({$vo2['id']},0)">刪除</a>
			     			</td>
			            </tr>
		                {if condition="$vo2['three'] gt 0"}
			                {volist name="vo2['three']" id="vo3" key='i3'}
				            <tr id='tr_0_{$i}_{$i2}_{$i3}' class="tr_0_{$i}_{$i2}" isLoad='1'>
								<td><input name='' class="input input-order mr5" type='text' size='3' value='{$vo3['sort']}'></td>
			            		<td>{$vo3['id']}</td>				            	
				               	<td>
				               		<span class='glyphicon glyphicon-minus'  style='margin-right:3px;margin-left:40px;cursor:pointer'></span>
				               		<input type='text' value='{$vo3['name']}' onchange='javascript:editName(this)' dataId="{$vo3.id}" class='form-control wst-ipt'/>
				               	</td>
				               	<td>{$vo3['article_number']}</td>
				               	<td>
				               		<div class="dropdown">
				               			{if condition="$vo3['active']==0 "}
				                   			<button class="btn btn-danger dropdown-toggle wst-btn-dropdown"  type="button" data-toggle="dropdown">
									     		隐藏
									  			<span class="caret"></span>
								   			</button>
				               			{else /}
				                   			<button class="btn btn-success dropdown-toggle wst-btn-dropdown" type="button" data-toggle="dropdown">
									     		显示
									  			<span class="caret"></span>
								   			</button>
				               			{/if}
				                   		<ul class="dropdown-menu" role="menu">
									  		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(1,{$vo3['id']})">显示</a></li>
									  		<li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:toggleIsShow(0,{$vo3['id']})">隐藏</a></li>
								   		</ul>
				               		</div>
				               	</td>
				               	<td>{$vo3['create_time'] | date="Y-m-d H:i:s",###}
				               	<td>
				    				<a class="btn btn-default glyphicon glyphicon-pencil" href="{:U('essay/toAddCategory',array('id'=>$vo3['id']))}">修改</a>&nbsp;
									<a class="js-ajax-delete btn btn-default glyphicon glyphicon-trash" onclick="javascript:edel({$vo3['id']},0)">刪除</a>
				      			</td>
				            </tr>
				            {/volist}
			            {/if}
			        	{/volist}
		        	{/if}
		        {/volist}
		    	</tbody>
		    </table>
		</fieldset>
	</form>
</div>
	<script type="text/javascript">
		function toggleIsShow(t,v){
			$.ajax({
				url: "{:U('essay/is_active')}",
				type: "POST",   //请求方式
				dataType: 'json',
				data: {id:v,active:t},
				success: function(json)
				{
					if(json.status==1){
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作成功',
							ok: function () {
								location.reload();
							}
						});
					}else{
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作失败',
							ok: function () {
							}
						});
					}
				}
			})

   		}
		function edel(id){
			$.ajax({
				url: "{:U('essay/edel')}",
				type: "POST",   //请求方式
				dataType: 'json',
				data: {id:id},
				success: function(json)
				{
					if(json.status==1){
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作成功',
							ok: function () {
								location.reload();
							}
						});
					}else{
						art.dialog({
							width: '300px',
							height:'100px',
							title: '信息提示',
							content: '操作失败',
							ok: function () {
							}
						});
					}
				}
			})

   		}
	</script>
</body>
</html>