{include file="header" /} 
</head>
<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('node/index')}">{:L('ADMIN_MENU_INDEX')}</a></li>
			<li class="active"><a href="{:U('node/add')}">{:L('ADMIN_MENU_ADD')}</a></li>
		</ul>
		<form method="post" class="form-horizontal js-ajax-form" action="{:U('node/add')}">
			<fieldset>
				<div class="control-group">
					<label class="control-label">{:L('NODE_ROOT')}:</label>
					<div class="controls">
						<select name="pid">
							<option value="0">{:L('ROOT')}</option>
							{$select_categorys}
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('MENU_NAME')}:</label>
					<div class="controls">
						<input type="text" name="title">
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('MENU_TYPE')}:</label>
					<div class="controls">
						<select name="display">
							<option value="1">{:L('MENU_MAIN')}</option>
							<option value="2">{:L('MENU_CHILD')}</option>
							<option value="0">{:L('MENU_HIDE')}</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('NODE_TYPE')}:</label>
					<div class="controls">
						<select name="level">
							<!--option value="1">应用级</option-->
							<option value="2">{:L('NODE_MODEL')}</option>
							<option value="3">{:L('NODE_FUNCTION')}</option>
							<option value="0">{:L('NODE_NO')}</option>
						</select>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">格式:</label>
					<div class="controls">
						<input type="text" name="action" id="action">
						<span class="form-required">*</span>
						例:controller/function 
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('NODE_PARAM')}:</label>
					<div class="controls">
						<input type="text" name="param">
						例:id=3&amp;p=3
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('MENU_ICON')}:</label>
					<div class="controls">
						<input type="text" name="remark" id="remark">
						<a href="http://www.thinkcmf.com/font/icons" target="_blank">选择图标</a> 如fa-user
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">{:L('NODE_STATUS')}:</label>
					<div class="controls">
						<select name="status">
							<option value="1">{:L('NODE_START')}</option>
							<option value="0">{:L('NODE_END')}</option>
						</select>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('node/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
</body>
</html>