{include file="header" /} 
</head>

<body ng-app="myapp">
	<div class="wrap js-check-wrap" ng-controller="myctrl">
		<ul class="nav nav-tabs">
			<li><a href="{:U('special/brand')}">品牌列表</a></li>
			<li class="active"><a href="{:U('special/addBrand')}">添加品牌</a></li>
		</ul>
		<form  class="form-horizontal js-ajax-form" action="{:U('special/addBrand')}" method="post">
			<fieldset>	
				<div class="control-group">
					<label class="control-label">品牌名称</label>
					<div class="controls">
						<input type="text" name="brand_name" value="{$brand.brand_name}"/>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">品牌图片</label>
					<div class="controls">
						<uploadimg cate="banner" image-url="{$brand.image}" width="200" height="200"></uploadimg>
					</div>
				</div>	
						
				<div class="control-group">
					<label class="control-label">关联店铺</label>
					<div class="controls">
						<input yzl-autocomplete label-key="shop_name" value="{$brand.shop_name}" url="/admin/seller/searchShop" value-key="seller_id" callback="shop_callback"/>
						<input type="hidden" name="seller_id" {if condition="$brand.seller_id neq ''"}ng-init="seller_id={$brand.seller_id}"{/if}value="{{seller_id}}"/>
					</div>
				</div>
				
				<div class="control-group">
		        <label class="control-label">是否开启：</label>
		        <div class="controls">
		             <label>
		             <input type='radio' id='isShow1' value='1' name='status' {if condition="$brand['status'] ==1 "}checked{/if}/>开启
		             </label>
		             <label>
		             <input type='radio' id='isShow0' value='0' name='status' {if condition="$brand['status'] ==0 "}checked{/if}/>关闭
		             </label>
		          </div>
				</div>
				
			</fieldset>
			<div class="form-actions">
				<input type="hidden" name="seller_brand_id" value="{$brand.seller_brand_id}" />
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('COMMIT')}</button>
				<a class="btn" href="{:U('special/brand')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script type="text/javascript">
		var app = angular.module('myapp', ['uploadimg', 'autocomplete']);
		
		app.controller("myctrl",function($scope){
			$scope.shop_callback = function(item){
				$scope.seller_id = item.id;
				$scope.goods_id = null;
				$scope.$apply();
			}
		});
	</script>
</body>
</html>