{include file="header" /} 
<style>
.control-group{
float:left;
}
</style>
</head>

<body ng-app="myapp">
	<div class="wrap" ng-controller="myctrl">
		<ul class="nav nav-tabs">
			<li><a href="{:U('special/index',['special_id' => $special_id])}">专题列表</a></li>
			<li><a href="{:U('special/add',['special_id' => $special_id])}">添加专题图片</a></li>
			{if condition="! in_array($special_id,[1,5,7,8])"}
			<li><a href="{:U('special/goods',['special_id' => $special_id])}">专题商品列表</a></li>
			<li><a href="{:U('special/goodsAdd',['special_id' => $special_id])}">添加专题商品</a></li>
			{/if}
			{if condition="$special_id eq 5"}
			<li class="active"><a href="{:U('special/shop',['special_id' => $special_id])}">优选店铺列表</a></li>
			<li><a href="{:U('special/shopAdd',['special_id' => $special_id])}">添加优选店铺</a></li>
			{/if}
			{if condition="$special_id eq 7"}
			<li><a href="{:U('special/baicheng',['special_id' => $special_id])}">百城店铺列表</a></li>
			{/if}
		</ul>
		<form method="get" class="form-horizontal" action="{:U('special/shop')}">
				<div class="control-group">
					<label class="control-label">创建日期:</label>
					<div class="controls">
						<input type="text" name="min_date" id="min_date" style="width:100px;float:left" value="{:I('min_date')}" >
						<label style="float:left;">-</label>
						<input type="text" name="max_date" id="max_date" style="width:100px; float:left" value="{:I('max_date')}" >
					</div>	
				</div>
				
				<div class="control-group">
					<label class="control-label">店铺状态</label>
					<div class="controls">
						<select name="status">
							<option value="-1" {if condition="I('status') eq -1"}selected{/if}>全部</option>
							<option value="1" {if condition="I('status') eq 1"}selected{/if}>开启</option>
							<option value="2" {if condition="I('status') eq 2"}selected{/if}>关闭</option>
						</select>
					</div>	
				</div>
				
				<div class="control-group">
					<label class="control-label">店铺名:</label>
						<div class="controls">
							<input yzl-autocomplete label-key="shop_name" url="/admin/seller/searchShop" value-key="seller_id" callback="shop_callback" />
							<input type="hidden" name="seller_id" value="{{seller_id}}"/>
						</div>
				</div>
				<input type="hidden" name="special_id" value="{$special_id}" />
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary"  style="width:100px;height:30px;float:left;text-align:center;" value="搜索"/>
					</div>
				</div>
		</form>
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>店铺id</th>
						<th width="300">店铺名</th>
						<th>优选图</th>
						<th>状态</th>
						<th>创建日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{if condition="count($shop) gt 0"}
					{volist name="shop" id="vo"}
					<tr>
						<td>{$vo.seller_id}</td>
						<td>{$vo.shop_name}</td>
						<td><img style="wdith:40px;height:40px;" src="{:C('img_url')}{$vo.image}" /></td>
						<td>{if condition="$vo.status eq '1'"}
							<a  href="{:U('special/shopOff',['intergral_shop_id'=>$vo.intergral_shop_id])}" class="js-ajax-dialog-btn btn btn-primary" data-msg="">开启</a>
							{else }
							<a href="{:U('special/shopOn',['intergral_shop_id'=>$vo.intergral_shop_id])}" class="js-ajax-dialog-btn btn btn-danger" data-msg="">关闭</a>{/if}
						</td>
						
						<td>{:get_color_date($vo.date_add)}</td>
						<td>
							<a href="{:U('special/shopAdd',['intergral_shop_id'=>$vo.intergral_shop_id,'special_id' => $special_id])}">编辑</a> |
							<a href="{:U('special/shopDel', ['intergral_shop_id' => $vo.intergral_shop_id,'special_id' => $special_id])}"class="js-ajax-dialog-btn">删除</a> |
						</td>
					</tr>
					{/volist}
					{/if}
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script>
		var app = angular.module("myapp",["autocomplete"]);
		app.controller("myctrl",function($scope){
			$scope.shop_callback = function(item){
				$scope.seller_id = item.id;
				$scope.$apply();
			}
		});
	$(function() {
			$( "#min_date" ).datetimepicker();
			$( "#max_date").datetimepicker();
		});
	</script>
</body>
</html>