{include file="header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('keywords/index')}">关键词列表</a></li>
			<li class="active"><a href="{:U('keywords/add')}">添加关键词</a></li>
		</ul>
		<form class="form-horizontal js-ajax-form" action="{:U('keywords/add')}" method="post">
			<fieldset>
				<div class="control-group">
					<label class="control-label">关键词名称</label>
					<div class="controls">
						<input type="text" name="name" value=""/>
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">关键词类型</label>
					<div class="controls">
						<select name="type">
							<option value="0">热点关键词</option>
						</select>
						<span class="form-required">*</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">
						<input type="text" name="sort" value=""/>
					</div>
				</div>
			</fieldset>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
				<a class="btn" href="{:U('keywords/index')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script src="__PUBLIC__/js/common.js"></script>
</body>
</html>