{include file="header" /} 
<style>
.control-group{
float:left;
}
</style>
</head>

<body>
	<div class="wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('goods/experience')}">商品列表</a></li>
			<li><a href="{:U('goods/edit',['goods_type' => 4])}">添加商品</a></li>
			<li><a href="{:U('goods/experience_setting')}">体验产品设置</a></li>
		</ul>
		<form method="get" class="form-horizontal" >
			 	<div class="control-group">
					<label class="control-label">商品编号：</label>
					<div class="controls">
						<input type="text" name="goods_number" value="{:I('goods_number')}"/>
					</div>	
				</div>
				<div class="control-group">
					<label class="control-label">商品名：</label>
					<div class="controls">
						<input type="text" name="goods_name" value="{:I('goods_name')}"/>
					</div>	
				</div>
				
				<div class="control-group">
					<label class="control-label">创建日期:</label>
					<div class="controls">
						<input type="text" name="min_date" id="min_date" style="width:100px;float:left" value="{:I('min_date')}" >
						<label style="float:left;">-</label>
						<input type="text" name="max_date" id="max_date" style="width:100px; float:left" value="{:I('max_date')}" >
					</div>	
				</div>
				<div class="control-group">
					<label class="control-label">商品状态</label>
					<div class="controls">
						<select name="goods_state">
							<option value="-1" {if condition="I('goods_state') eq -1"}selected{/if}>全部</option>
							<option value="1" {if condition="I('goods_state') eq 1"}selected{/if}>已上架</option>
							<option value="2" {if condition="I('goods_state') eq 2"}selected{/if}>已下架</option>
						</select>
					</div>	
				</div>
				
				<div class="control-group">
					<div class="controls">
						<input type="submit" class="btn btn-primary"  style="width:100px;height:30px;float:left;text-align:center;" value="搜索"/>
					</div>
				</div>
		</form>
		<form method="post" class="js-ajax-form">
			<table class="table table-hover table-bordered">
				<thead>
					<tr>
						<th>商品编号</th>
						<th width="200">商品名</th>
						<th>商品图片</th>
						<th width="200">关联商品</th>
						<th >商品金额</th>
						<th>销售数量</th>
						<th>状态</th>
						<th>创建日期</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{if condition="count($lists) gt 0"}
					{volist name="lists" id="vo"}
					<tr>
						<td>{$vo.sku}</td>
						<td>{$vo.name}</td>
						<td><img style="wdith:40px;height:40px;" src="{:C('img_url')}{$vo.image_url}" /></td>
						<td><a href="{:U('goods/edit',['goods_id'=> $vo.pid])}">{$vo.pname}</a></td>
						<td>￥{$vo.price}</td>
						<td>{$vo.sale_count}</td>
						<td>{if condition="$vo.on_sale eq '1'"}
							<a  href="{:U('goods/offsale',['goods_id'=>$vo.goods_id])}" class="js-ajax-dialog-btn btn btn-primary" data-msg="">已上架</a>
							{else }
							<a href="{:U('goods/onsale',['goods_id'=>$vo.goods_id])}" class="js-ajax-dialog-btn btn btn-danger" data-msg="">已下架</a>{/if}
						</td>

						<td>{:get_color_date($vo.date_add)}</td>
						<td>
							<a href="{:U('goods/edit',['goods_id'=>$vo.goods_id])}">编辑</a> |
							<a href="{:U('goods/delete', ['goods_id' => $vo.goods_id])}"class="js-ajax-dialog-btn">删除</a> 
						</td>
					</tr>
					{/volist}
					{/if}
				</tbody>
			</table>
			<div class="pagination">{$page}</div>
		</form>
	</div>
	<script>
	$(function() {
			$( "#min_date" ).datetimepicker();
			$( "#max_date").datetimepicker();
		});
	</script>
</body>
</html>