{include file="header" /} 
</head>
<body ng-app="myapp">
	<div class="wrap js-check-wrap" ng-controller="newctrl">
		<ul class="nav nav-tabs">
			<li><a href="{:U('goods/buynow',['special_id' => $special_id])}">专题商品列表</a></li>
			<li class="active"><a href="{:U('goods/specialedit',['special_id' => $special_id])}">添加专题商品</a></li>
		</ul>
		<form class="form-horizontal js-ajax-form" action="{:U('goods/specialedit')}" method="post">
			<div class="control-group">
				<label class="control-label">商品ID:</label>
				<div class="controls">
					<input yzl-autocomplete label-key="goods_id" value="{$goods.goods_id}" url="/admin/goods/searchGoodsById" value-key="goods_id" callback="goods_callback">
					<input type="hidden" name="goods_id" value="{{goods_id}}"/>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">商品:</label>
				<div class="controls">
					<input type="text" name="name" value="{$goods.name}" readonly="true" />
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label">关联店铺:</label>
				<div class="controls">
				<input type="text" name="shop" value="{$goods.shop_name}" readonly="true" />
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">展示图</label>
				<div class="controls">
					<uploadimg cate="activity" image-url="{$goods.image}" width="400" height="400"></uploadimg>
					<span>首页展示时添加</span>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label">最大购买量:</label>
				<div class="controls">
				<input type="text" name="max_buy" value="{$goods.max_buy}" />
				</div>
			</div>
			<div class="control-group">
					<label class="control-label">活动起始日期:</label>
					<div class="controls">
						<input type="text" name="date_start" id="date_start" style="width:200px;float:left" value="{:get_color_date($goods.date_start)}" >
						<label style="float:left;">-</label>
						<input type="text" name="date_end" id="date_end" style="width:200px; float:left" value="{:get_color_date($goods.date_end)}" >
					</div>	
			</div>
			
			<div class="control-group">
		        <label class="control-label">是否开启：</label>
		        <div class="controls">
		             <label>
		             <input type='radio' id='isShow1' value='1' name='status' {if condition="$goods['status'] ==1 "}checked{/if}/>开启
		             </label>
		             <label>
		             <input type='radio' id='isShow0' value='0' name='status' {if condition="$goods['status'] ==0 "}checked{/if}/>关闭
		             </label>
		          </div>
			</div>
			<div class="control-group">
				<label class="control-label">排序</label>
				<div class="controls">
					<input type="text" name="sort" value="{$goods.sort}"/>
				</div>
			</div>
			<input type="hidden" name="special_goods_id" value="{$goods.special_goods_id}"/>
			<input type="hidden" name="special_id" value="{$special_id}" />
			<div class="form-actions">
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('COMMIT')}</button>
				<a class="btn" href="{:U('goods/buynow')}">{:L('BACK')}</a>
			</div>
		</form>
	</div>
	<script>
		var app = angular.module('myapp', ['uploadimg', "autocomplete"]);
		app.controller("newctrl",function($scope,$http){
            $scope.goods = {$goods | json_encode};
            $scope.goods_id = $scope.goods.goods_id;
			$scope.goods_callback = function(item){
				$scope.goods_id = item.id;
				$.ajax({
					url:"{:U('homeaction/getshopname')}"+"?goods_id="+$scope.goods_id,
					type:"GET",
					datatype:"json",
					success:function(data){
						var res = JSON.parse(data);
						$("input[name='shop']")[0].value = res.shop_name;
					}
				});
                $.ajax({
                    url:"{:U('homeaction/getgoodsname')}"+"?goods_id="+$scope.goods_id,
                    type:"GET",
                    datatype:"json",
                    success:function(data){
                        var res = JSON.parse(data);
                        $("input[name='name']")[0].value = res.name;
                    }
                });
				$scope.$apply();
			}
		});
		
		$(function() {
			$( "#date_start" ).datetimepicker();
			$( "#date_end").datetimepicker();
		});
</script>
</body>
</html>

<!--<div class="control-group">-->
	<!--<label class="control-label">秒杀商品可用库存:</label>-->
	<!--<div class="controls">-->
		<!--<input type="text" name="quantity" value="{$goods.quantity}" />-->
	<!--</div>-->
<!--</div>-->