{include file="header"}
<link rel="stylesheet" href="__PUBLIC__/css/layer.css"/>
</head>
<body ng-app="myapp" ng-cloak ng-controller="myctrl">
	<div class="wrap">
		<div class="header">
		    <div class="wrapper">
		    		<span class="back" on-back-render-filters></span>
			     	<span class="title">修改密码</span>
			     	<span class="cp-right cp-topsmall" ng-click="send()">确认</span>
			</div>
		</div>
		<div class="container top-container">
			<div ng-cloak class="row-container">
				<div ng-show="has_pwd" class="row row-bordered">
					<div class="row-content">
						<div class="row-left row-icon">
							<img src="__PUBLIC__/images/new/password.png"/>
						</div>
						<div class="row-input row-left">
							<input placeholder="请输入旧密码" type="password"   ng-model="oldpwd">
						</div>
					</div>
				</div>
				
				<div class="row row-bordered">
					<div class="row-content">
						<div class="row-left row-icon">
							<img src="__PUBLIC__/images/new/password.png"/>
						</div>
						<div class="row-input row-left">
							<input placeholder="请输入新密码" type="password" ng-model="newpwd">
						</div>
					</div>
				</div>
			</div>
			
			<div class="btn-vertical-group">
				<div class="btn btn-light-big btn-full" ng-class="{true : 'btn-primary' , false : 'btn-disabled'}[isActive]" ng-click="send()">确认</div>
			</div>
		</div>
	</div>
	<script>
		app.controller("myctrl",function($scope){
			$scope.isActive = false;
			
			pinet.post("User/getuserinfo",{'access_token' : pinet.checkUserAccount()},
					function(data){
				if(data.errcode == 0){
					$scope.has_pwd = !!data.content.has_pwd;
					$scope.$apply();
				}
			}, null, true);
			
			
			$scope.$watch("oldpwd", function(){
				$scope.isActive = !! $scope.oldpwd && !! $scope.newpwd;
			});
			
			$scope.$watch("newpwd", function(){
				$scope.isActive = !! $scope.newpwd && (!$scope.has_pwd || !!$scope.oldpwd);
			});
			
			$scope.send =function(){
				if(!$scope.isActive){
					return;
				}
				if(!$scope.newpwd){
					layer.open({content:'请输入新密码', time : {$tips_time_out}});
					return;
				}
				if($scope.newpwd.length < 6 || $scope.newpwd.length > 14){
					layer.open({content:'密码长度必须在6-14位之间', time : {$tips_time_out}});
					return;
				}
				if($scope.has_pwd){
					if( !$scope.oldpwd){
						layer.open({content:'请输入旧密码', time : {$tips_time_out}});
						return;
					}
					if($scope.newpwd.length < 6 || $scope.newpwd.length > 14){
						layer.open({content:'密码长度必须在6-14位之间', time : {$tips_time_out}});
						return;
					}
				}
				
				var data ={now_pwd : $scope.newpwd, old_pwd : $scope.oldpwd , access_token : pinet.checkUserAccount()};
				pinet.post('User/editpwd',
						{now_pwd : $scope.newpwd, old_pwd : $scope.oldpwd , access_token : pinet.checkUserAccount()},
						function(data){
					if(data.errcode == 0){
						location.href = "{:U('User/personal_inform')}";
					}else{
						layer.open({content:data.message, time : {$tips_time_out}});
					}
					
				});
				
			}
		});
	</script>
	
</body>
</html>