{include file="header"}
</head>
<body ng-controller="myctrl" ng-cloak style="background:white">
	<div class="header">
	    <div class="wrapper">
	    		<span class="back" on-back-render-filters></span>
		     	<span class="title">修改资料</span>
		</div>
	</div>
	<div  class="container top-container">
		<form>
			<div class="cps-out-div">
				<div class="cps-first-div">
					<div>
						手机号
					</div>
					<div>
						<input type="number" ng-model="phone" placeholder="请输入手机号">
					</div>
				</div>
				<div class="cps-second-div">
					<div>
						验证码
					</div>
					<div>
						<input type="number" ng-model="verify_code" placeholder="请输入验证码">
					</div>
				</div>
				<a ng-click="send()" ng-init="verify_code_text='发送验证码'" >{{verify_code_text}}</a>
			</div>
		</form>
	</div>
	<div class="footer" ng-click="submit()">
	    <div class="footer-btn footer-full-btn footer-primary">
	    	<span >确认提交</span>
	    </div>
	</div>
	<script>
		var app = angular.module("myapp",['back-filter']);
		app.controller('myctrl',function($scope,$interval){
			$scope.customer = {$customer | json_encode};
			$scope.send=function(){
				var phone = $scope.phone;
				if($scope.stop){
					return;
				}
				$scope.time = 60;
				
				$scope.stop = 1;
				
				pinet.post('User/SendCode',{"phone":$scope.phone,"state":4},function(data){
					$scope.stop = null;
					pinet.toast(data.message);
					if(data.errcode == 0){
						$scope.stop = $interval(function(){
							if($scope.time > 0){
								$scope.time --;
								$scope.verify_code_text = $scope.time + "秒重发";
							}else{
								$scope.verify_code_text = "发送验证码";
								$interval.cancel($scope.stop);
								$scope.stop = null;
							}
						}, 1000);
						$scope.$apply();
					}
					
				})
			};
			$scope.submit=function(){
				pinet.post('User/changephone_second',{"access_token":pinet.getCookie("access_token"),"phone":$scope.phone,"verify_code":$scope.verify_code},function(data){
					console.log(data);
					pinet.toast(data.message);
					if(data.errcode==0){
						location.href="{:U('user/personal_inform')}";
					}
					
				})
			}
		});
	</script>
</body>
</html>