{include file="header" /} 
</head>
<body>
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li class="active"><a href="{:U('express/index_template')}">模板列表</a></li>
			<li><a href="{:U('express/add_template')}">添加模板</a></li>
		</ul>
			<table class="table table-hover table-bordered table-list">
				<thead>
					<tr>
						<th width="50">ID</th>
						<th width="50">模板名</th>
						<th>发货省</th>
						<th>首重（千克）</th>
						<th>首费</th>
						<th>续重（千克）</th>
						<th>续费</th>
						<th width="120">{:L('ACTIONS')}</th>
					</tr>
				</thead>
				<tbody>
					{volist name="express" id="vo"}
					<tr>
						<td>{$vo.template_id}</td>
						<td>{$vo.name}</td>
						<td>{$vo.province_name}</td>
						<td>{$vo.first_weight}</td>
						<td>{$vo.first}</td>
						<td>{$vo.additional_weight}</td>
						<td>{$vo.additional}</td>
						<td>
							<a href="{:U('express/add_template',array('id'=>$vo['template_id']))}">{:L('EDIT')}</a> |
							<a class="js-ajax-dialog-btn" href="{:U('express/del_template',array('id'=>$vo.template_id))}">删除</a></td>
						</td>
					</tr>
					{/volist}
				</tbody>
				
			</table>
	</div>
</body>
</html>