<!doctype html>
<html >
<head>
	<meta charset="utf-8">
	<!-- Set render engine for 360 browser -->
	<meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 shim for IE8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <![endif]-->

	<link href="__PUBLIC__/simpleboot/themes/bluesky/theme.min.css" rel="stylesheet">
    <link href="__PUBLIC__/simpleboot/css/simplebootadmin.css" rel="stylesheet">
    <link href="__PUBLIC__/js/artDialog/skins/default.css" rel="stylesheet" />
    <link href="__PUBLIC__/simpleboot/font-awesome/4.4.0/css/font-awesome.min.css"  rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="__PUBLIC__/js/jquery-ui/jquery-ui.min.css"/>
    <link rel="stylesheet" href="__PUBLIC__/admin/css/admin.css?123"/>
    <link rel="stylesheet" href="__PUBLIC__/js/datePicker/jquery-ui-timepicker-addon.min.css" />
    <style>
		.length_3{width: 180px;}
		form .input-order{margin-bottom: 0px;padding:3px;width:40px;}
		.table-actions{margin-top: 5px; margin-bottom: 5px;padding:0px;}
		.table-list{margin-bottom: 0px;}
	</style>
	<!--[if IE 7]>
	<link rel="stylesheet" href="__PUBLIC__/simpleboot/font-awesome/4.4.0/css/font-awesome-ie7.min.css">
	<![endif]-->
<script type="text/javascript">
//全局变量
var GV = {
    DIMAUB: "/",
    JS_ROOT: "public/js/",
    TOKEN: "",
    IMG_URL: '{$img_url}'
};
</script>
<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/wind.js"></script>
    <script src="__PUBLIC__/simpleboot/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/jquery.validate.js"></script>
    <script src="__PUBLIC__/js/messages_zh.js"></script>
    <script src="__PUBLIC__/js/jquery-ui/jquery-ui.min.js"></script>
    <script src="__PUBLIC__/admin/js/admin.js"></script>
    <script src="__PUBLIC__/js/datePicker/jquery-ui-timepicker-addon.min.js"></script>
    <script src="__PUBLIC__/js/datePicker/i18n/jquery-ui-timepicker-zh-CN.js?12"></script>
    <script src="__PUBLIC__/common/js/angular/angular.min.js"></script>
    <script src="__PUBLIC__/js/plugins/uploadimg.js?12"></script>
    <script src="__PUBLIC__/js/plugins/autocomplete.js?123"></script>
	<script src="__PUBLIC__/js/plugins/sortable.js"></script>
    
	<style>
		#think_page_trace_open{
			z-index:9999;
		}
	</style>
