{include file="header" /} 
	<script type="text/javascript">
	var app = angular.module('myapp', ['uploadimg', 'autocomplete']);
	</script>
</head>

<body ng-app="myapp">
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('banner/index')}">横幅列表</a></li>
			<li class="active"><a href="{:U('banner/add')}">添加横幅</a></li>
		</ul>
		<form  class="form-horizontal js-ajax-form" action="{:U('banner/add')}" method="post">
			<fieldset>
				<input type="hidden" name="id">
				<div class="control-group">
					<label class="control-label">横幅名称</label>
					<div class="controls">
						<input type="text" name="name" value="{$banner.name}" />
						<span class="form-required">*</span>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">横幅图片</label>
					<div class="controls">
						<uploadimg cate="banner" image-url="{$banner.image}" width="750" height="460"></uploadimg>
					</div>
				</div>
				{include file="action"}
				<div class="control-group">
					<label class="control-label">位置</label>
					<div class="controls">
						<select name="position">
							<option value="0">首页轮播</option>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">排序</label>
					<div class="controls">
						<input type="text" name="sort" value="{$banner.sort}"/>
					</div>
				</div>
				
			</fieldset>
			<div class="form-actions">
				<input type="hidden" name="id" value="{:I('id')}" />
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
			</div>
		</form>
	</div>

</body>
</html>