{include file="header" /}
</head>
<body ng-controller="goods">
<div class="wrap js-check-wrap">
    <ul class="nav nav-tabs">
        <li class="active"><a href="{:U('payconfig/cmb_pay_config')}">支付参数</a></li>
    </ul>
    <form  class="form-horizontal js-ajax-form"  method="post">
        <fieldset>
            <input type="hidden" name="id">
            <div class="control-group">
                <label class="control-label">开启</label>
                <div class="controls">
                    <input type="radio" {if condition="$settings.is_open eq 0"}checked{/if} name="is_open" value="0" >关闭
                    <input type="radio" {if condition="$settings.is_open eq 1"}checked{/if} name="is_open" value="1">开启
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">分行号</label>
                <div class="controls">
                    <input type="text" name="branch_no" value="{$settings.branch_no}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">商户号</label>
                <div class="controls">
                    <input type="text" name="merchant_no" value="{$settings.merchant_no}">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">商户私钥</label>
                <div class="controls">
                    <input type="text" name="secret" value="{$settings.secret}" />
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">公钥地址</label>
                <div class="controls">
                    <input type="text" name="pubkey_address" value="{$settings.pubkey_address}">
                </div>
            </div>

        </fieldset>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
        </div>
    </form>
</div>
</body>
</html>