{include file="header" /} 
<script type="text/javascript">
var app = angular.module('myapp', ['uploadimg', 'autocomplete']);
</script>
</head>
<body ng-app="myapp">
	<div class="wrap js-check-wrap">
		<ul class="nav nav-tabs">
			<li><a href="{:U('MobileRecharge/index')}">面额列表</a></li>
			<li class="active"><a href="{:U('MobileRecharge/edit')}">添加面额</a></li>
		</ul>
		<form  class="form-horizontal js-ajax-form"  method="post">
			<fieldset>
				<input type="hidden" name="id">
				<div class="control-group">
					<label class="control-label">面值大小（流量单位为M）</label>
					<div class="controls">
						<input value="{$fee.amount}" type="text" name="amount" />
						<span class="form-required">*</span>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label">实际金额</label>
					<div class="controls">
						<input value="{$fee.actual_fee}" type="text" name="actual_fee"/>
						<span class="form-required">*</span>
					</div>
				</div>
				
				
				<div class="control-group">
					<label class="control-label">类型</label>
					<div class="controls">
						<label>
			             <input type='radio' id='isShow1' value='1' name='type' {if condition="$fee['type'] == '1' "}checked{/if}/>话费
			             </label>
			             <label>
			             <input type='radio' id='isShow0' value='2' name='type' {if condition="$fee['type'] == '2' "}checked{/if}/>流量
			             </label>
					</div>
				</div>
					
			</fieldset>
			<div class="form-actions">
			<input type="hidden" name="mobile_recharge_fee_id" value="{:I('get.mobile_recharge_fee_id')}">
			
				<button type="submit" class="btn btn-primary js-ajax-submit">{:L('ADD')}</button>
			</div>
		</form>
	</div>
</body>
</html>